body {
    margin: 0;
}

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 70%;
    margin: auto;
}

.danhmuc {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.logo {
    width: 15%;
}
ol{
    list-style:none;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover {
    color: orangered;
}

.chucnang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi {
    background-color:orangered ;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}

.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}
.xemPhim{
    background-color:orangered ;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}
.xemPhim:hover{
    background-color:orange;
}

main {
    background-color: #131314;
    color: white;
    width: 100%;

}

.quangcao {
    display: flex;
    justify-content: center;
    

}

.container {
    width: 70%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
}

.banner {
    width: 98%;
}

.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}
.theloai{
    font-family:Arial;
}

.tentheloai {
    margin:10px;
    margin-top:40px;
    font-size:x-large;
    font-weight: bold;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 19%;
}

.phim img {
    width: 100%;
}
.footer-container{
    display:flex;
    background-color:#131314;
    width: 70%;
    margin: auto;
    justify-content: space-between ;
    gap:20px;
}


footer{ 
    background-color: #131314;

}
.footer-logo{
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:200px;
    margin-top:100px;
}
.gioithieu-tieude{
    margin-top:100px;
    color: grey;
    font-family:Arial;
    justify-content:space-evenly;
    flex-direction: column ;
    height:40px;
}

.danhmuc-gioithieu{
    list-style:none;
    display: flex;
    flex-direction: column;  /*xếp các <li> theo chiều dọc*/
    justify-content: space-between; /*chia đều từ trên xuống dưới*/
    height: 150px;   
     
}
.footer{
    background-color:#131314;
}
.footer-noidung{
    margin-top:40px;    
    background-color: #131314;
    color:grey;
    font-family: Arial;
    font-size:x-small;
}
.footer-duoi{
    background-color:#131314;
    width: 70%;
    margin: auto;
    justify-content: space-between  ;
    display:flex;
    border:2px red; 

}
.nation{
    font-size: x-small; 
    text-align: right;
    /* cursor:text; */
    
}
.nation:hover{
    color:orange; 
    cursor:pointer;
}
.anh:hover{
    cursor:pointer;
    background-color: orange;
}
.ten:hover{
    cursor:pointer;
    color: orange;
}