body{
    margin:0;
}
header{
    background-color:antiquewhite
}

.header-container{
    margin:auto;
    width:80%;
}
.header-top{
    background-color:black;
    display:flex;
    justify-content:space-between;
    height:70px;
}
.header-bottom{
    background-color:grey;
    
}

.logo{
    width:50%;
    cursor:pointer;
}
.change{
    border-radius: 30px;
    height:50px;
    width:50px;
    cursor:pointer;
    background:white;
    font-size:15px;
    color:black;
    border:2px solid #3f94d5;
} 
.chucnang{
    display:flex;
    gap:20px;
    align-items: center;
    margin-right:15px;   

}
.chucnangphu{
    display:flex;
    gap:20px;
    align-items: center;  
}
.search{
    border-radius:20px;
    width:400px;
    height:40px;
    margin-right:70px;
    text-indent: 15px;
}
.search-input{
    display:flex;
    align-items: center;
}
.search-sumbit{
    position:absolute;
    background-color:white;
    border:none;
    border-radius: 100px;
    right: 570px;
    cursor:pointer;
    font-size: 15px;
    
}
.timkiem{
    display:flex;
}

.login{
    border-radius:533px;
    border:none;
    height:40px;
    color:white;
    width:95px;
    background-color:#3f94d5;
    font-size: 12px;
    font-weight: 600;
    cursor:pointer;
}
.login:hover{
    background-color:steelblue;
}
.signin{
    border-radius:53px;
    border:none;
    height:40px;
    color:white;
    width:95px;
    background-color:#3f94d5;
    font-size: 12px;
    font-weight: 600;
    cursor:pointer;
}
.signin:hover{
    background-color:steelblue;
}
.shopping{
    border-radius:53px;
    border:none;
    height:40px;
    color:white;
    width:95px;
    background-color:#3f94d5;
    font-weight: 600;
    cursor:pointer;
}
.shopping:hover{
    background-color:steelblue;
}
.danhmuc{
    display:flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.danhmuc-danhsach{
    display:flex;
    gap:100px;
}
