h3{
    color : orange;
}

#title{
    background-color: aqua;
}

.bg{
    background-color:blueviolet;
}

p{
    color:red;
    background-color: blue;
}

.box1{
    background-color: red;
}

.box2{
    background-color: green;
    /* truyền 1 giá trị : cách xung quanh = giá trị đo*/
    /*2 giá trị: giá trị 1 (trên dưới), 2 (trái phải)*/
    /* margin: 50px 30px 100px 10px;*/
    /* margin:auto; căn giữa*/
    margin:auto

    }


.box3{
    background-color: blue;
}